
* {
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
x	background-size: cover;
	/*background: url(../images/fondo.jpg);
	color:#FFF; /* # FFF color blanco */
	/*font-family: “Chalet”, Helvetica, Verdana;*/
	font-size: 18px;
}

nav{
	 margin-left: 400px;
	width: 800px;
	font-family: arial, Helvetica
}

nav ul, ol, li{
	list-style: none;
}

.menu li a{font-size: 16px}


.menu li a{
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display:block;
}


.menu > li{
	float:left;
}


.menu li a:hover {
	background-color: #434343;
}


.menu li ul {
	display:none;
	position: absolute;
	width: 140px;
	text-align: center;
}

.menu li:hover > ul{
	display: block;
}
.menu li ul li {
	position: relative;
}

.menu li ul li {
	position:relative;
}	
.menu li ul li ul {
	right:-140px;
	top: 0px; 
	text-align: center;
}

#header{

	background: url(../images/fondo.jpg);
	height: 150px;
}

#header h1{
	margin-top:  25px;
	font-size: 30px;
	color: #fff;
	font-family: arial, Helvetica;
	width: 200px;
    float: left;

}
#header h2{
	margin top: : 8px;
	font-size: 55px;
	color: #ff5900;
	font-family: arial, Helvetica;
	width: 700px;
	
}
#header img{
	margin: 15px;
	float: left;
	max-width: 150px;
    max-height: 150px;

}
#navegador{
	background-color: #000;
	height: 45px;
}
#footer{
	background: rgb(0,0,0);
	height: 250px;
}

/*---------------------------------------------------------------*/

#marco{
	background: url(../images/bd.jpg);#ddd;
	height: 1000px;
	width: 820px;
    float: left;
    margin-left:280px;
}


#objetivos_ovi{
	border-radius: 20px;
	background-color: rgba(255, 255, 255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 40px;
	margin-left: 40px;
	margin-top: 40px;
	width: 270px;
	float: left;
	font-family: arial, Helvetica;
	text-align: justify;
	height: 800px;
}

#objetivos_curso{
	border-radius: 20px;
	background-color:rgba(255, 255, 255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 40px;
	margin-left: 40px;
	margin-top: 40px;
	width: 270px;
	float: left;
	font-family: arial, Helvetica;
	text-align: justify;
	height: 800px;
}
#objetivos_curso h2{
	font-size: 20px;
}
#objetivos_curso h1{
	color: #ff5900;
}
#objetivos_ovi h2{
	font-size: 20px;
}
#objetivos_ovi h1{
	color: #ff5900;
}


/*---------------------------------------------------------------*/
	#marco1{
	background: url(../images/bd.jpg);#ddd;
	height: 1000px;
	width: 820px;
    float: left;
    margin-left:10px;
    box-shadow
}
#img{
	width: 270px;
	height:300px;
	box-shadow: 0 0 30px rgba(244,121,32,1);
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	}
#texto{
	border-radius: 30px;
	background-color:rgba(255, 255, 255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 40px;
	margin-left: 40px;
	margin-top: 20px;
	width: 620px;
	font-family: arial, Helvetica;
	text-align: justify;
	height: 840px;
	margin-left: 60px;
}

#texto h1{
	color: rgb(244,121,32);
	font-size: 35px;
}

#texto p{
	width: 500px;
	margin-left: 65px;


}

#img img{
	max-width: 270px;
    max-height: 400px;
}

#texto h2{
	font-size: 30px;
}
#texto ul{
	width: 500px;
	margin-left: 65px;


}
/*---------------------------------------------------------------*/

#img1{
	width: 270px;
	height:320px;
	box-shadow: 0 0 30px rgba(244,121,32,1);
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	}

#img1 img{
	max-width: 270px;
	max-height: 400px;
	}


#img2{
	width: 270px;
	height:270px;
	box-shadow: 0 0 30px rgba(244,121,32,1);
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	}

#img2 img{
	max-width: 270px;
	max-height: 300px;
	}
/*---------------------------------------------------------------*/

#texto h3{
	margin-left: 65px;
}
